<jsp:include page="/WEB-INF/pages/themes/adminLTE/header.jsp"/>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://www.springframework.org/tags" prefix="s"%>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>
<%@taglib prefix="z" uri="http://taglib.woniu.com"%>
<z:breadcrumb breadcrumb="${breadcrumb}"/>
<h3>编辑${table.Label}</h3>
<form:form action="${table.UriPrefix}/${${table.EntityInstanceName}.id}" method="POST" validate="true"
	modelAttribute="${table.EntityInstanceName}" cssClass="basic-form form-horizontal">
	<input type="hidden" name="_method" value="PUT" />
#foreach ($column in $table.LabeledColumns)
	<div class="control-group">
		<label class="control-label" for="${column.FieldName}">${column.Label}</label>
		<div class="controls">
#if ($column.isBoolean())
			<form:select path="${column.FieldName}" class="${column.ValidationFormClass}" placeholder="${column.Label}">
				<form:option value="true">是</form:option>
				<form:option value="false">否</form:option>
			</form:select>
#else
			<form:input path="${column.FieldName}" class="${column.ValidationFormClass}" placeholder="${column.Label}" />
#end
			<form:errors path="${column.FieldName}" cssClass="validation-error" />
		</div>
	</div>
#end
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">提交</button>
		</div>
	</div>
</form:form>
<jsp:include page="/WEB-INF/pages/themes/adminLTE/footer.jsp"/>
